@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
:root {
  --bg-color: #23252c;
  --bg-card: #1a1b21;
}
body {
  background-color: var(--bg-color);
  font-family: "Inter", sans-serif;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  width: 370px;
  background-color: var(--bg-card);
  border-radius: 6px;
}

img {
  max-width: 100%;
}
img:first-of-type {
  border-radius: 6px 6px 0 0;
}
#main-content {
  padding: 0 10px;
}
#main-content .links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#main-content a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  width: 115px;
  text-decoration: none;
  border-radius: 6px;
}
#main-content a img {
  width: 16px;
  padding-right: 3px;
}
#main-content a:first-of-type {
  background-color: #fff;
  color: #374151;
}
#main-content a:last-of-type {
  background-color: #5093e2;
  color: white;
}
h3 {
  color: #fff;
  font-size: 25px;
  font-weight: bold;
}
h4:first-of-type {
  color: #f3bf99;
  font-size: 12.8px;
  font-weight: normal;
}
h4:not(:first-of-type) {
  color: #f5f5f5;
}
h4 + p {
  color: #dcdcdc;
}

#footer {
  background-color: #161619;
  border-radius: 0 0 6px 6px;
  display: flex;
  justify-content: center;
}
#footer a {
  padding: 10px;
}
